.main {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;

    
    .partners-section {
        margin-top: 194px;
        width: 100%;
        position: relative;

        .partners-list {
            display: grid;
            gap: 132px;
            max-width: calc(100% - 340px);
            width: 100%;
            height: 100%;
            margin: 0 auto;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 1919px) {
    .main {
        .hero-section {
            padding: 200px 81px 10px 81px;

            .left-part {
                padding-top: 70px;

                .main-title {
                    font-size: 45px;
                    line-height: 80px;
                    margin-bottom: 56px;
                }
                .buttons-block {
                    gap: 20px;
                    margin-bottom: 53px;

                    .hero-button {
                        padding: 16px 41px;
                        height: 54px;
                        font-size: 18px;
                        line-height: 20px;
                        letter-spacing: 0.9px;

                        &:hover {
                            opacity: 0.7;
                        }

                        &:active {
                            opacity: 0.5;
                        }
                    }
                }
                .hero-section-counter {
                    gap: 50px;

                }
            }
        }
    }
}
